.plussub {
  position: relative;
  width: 60px;
  height: 44px;
  overflow: hidden;
  border: 1px solid #ccc;
  //减
  .sub {
    top: -1px;
  }
  //加
  .plus {
    bottom:  -1px;
  }
  //输入框
  input {
    display: block;
    position: absolute;
    left: 1px;
    width: 41px;
    height: 44px;
    line-height: 44px;
    text-align: center;
  }
  //加减框
  span {
    position: absolute;
    right: -1px;
    display: block;
    width: 17px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    background: #f1f1f1;
    color: #666;
    border: 1px solid #ccc;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
      color: #ccc;
    }
  }
}
