<div class="collect-box tabCon">
  <ul class="cl">
    {{ if chef }}
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    {{ /if }} {{ if ground }}
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    {{ /if }} {{ if turnour }}
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    {{ /if }} {{ if other }}
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    <li>
      <div class="img">
        <img
          src="https://dummyimage.com/140x140/000/fff"
          width="146"
          height="146"
          alt="146x146"
        />
        <div class="operate">
          <a href="" class="g-view">进入店铺</a>
          <a href="" class="g-delete">删除宝贝</a>
        </div>
      </div>
      <div class="name"><span>0260加强保鲜asdsadsasdsaads盒</span></div>
      <div class="price"><em>￥57.67</em></div>
    </li>
    {{ /if }}
  </ul>
</div>
