<table cellpadding="0" border="0" cellspacing="0">
    <thead class="order__header">
    <tr>
        <th>
            <div class="fl deadline">近三个月订单</div>
            <div class="fl">订单详情</div>
        </th>
        <th class="receiver">收货人</th>
        <th class="price">金额</th>
        <th class="status">全部状态</th>
        <th class="operate">操作</th>
    </tr>
    </thead>
    {{ if payment }}
    <tbody class="order__body">
    <tr class="b-row"></tr>

    <tr class="item__header">
        <td colspan="5">
            <div class="fl item-time">2019-02-12 14:23:29</div>
            <div class="fl item-code">订单号: <span>051312315</span></div>
            <div class="fr item-opt">
                <i class="iconfont icon-bin"></i>
            </div>
        </td>
    </tr>

    <tr class="item">
        <td class="item-product cl">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
        <td class="item-consignee">
            <span>方先生</span><i class="iconfont icon-face"></i>
        </td>
        <td class="item-price">
            <em>￥ 789.00</em>
            <div class="spacer"></div>
            <span>在线支付</span>
        </td>
        <td class="item-status">
            <span>已付款</span>
        </td>
        <td class="item-btn">
            <a href="" class="btn btn--red">立即付款</a>
            <a href="">取消订单</a>
            <a href="orderDetails.html">订单详情</a>
        </td>
    </tr>
    </tbody>
    {{ /if }}
    <!--======================================================-->
    {{ if finished }}
    <tbody class="order__body">
    <tr class="b-row"></tr>

    <tr class="item__header">
        <td colspan="5">
            <div class="fl item-time">2019-02-12 14:23:29</div>
            <div class="fl item-code">订单号: <span>051312315</span></div>
            <div class="fr item-opt">
                <i class="iconfont icon-bin"></i>
            </div>
        </td>
    </tr>

    <tr class="item">
        <td class="item-product">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
        <td class="item-consignee" rowspan="3">
            <span>方先生</span><i class="iconfont icon-face"></i>
        </td>
        <td class="item-price" rowspan="3">
            <em>￥ 789.00</em>
            <div class="spacer"></div>
            <span>在线支付</span>
        </td>
        <td class="item-status" rowspan="3">
            <span>已付款</span>
        </td>
        <td class="item-btn" rowspan="3">
            <a href="" class="btn btn--default">在此购买</a>
            <a href="">订单详情</a>
        </td>
    </tr>
    <tr class="item">
        <td class="item-product">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
    </tr>
    <tr class="item">
        <td class="item-product">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
    </tr>
    </tbody>
    {{ /if }}
    <!--======================================================-->
    {{ if send }}
    <tbody class="order__body">
    <tr class="b-row"></tr>

    <tr class="item__header">
        <td colspan="5">
            <div class="fl item-time">2019-02-12 14:23:29</div>
            <div class="fl item-code">订单号: <span>051312315</span></div>
            <div class="fr item-opt">
                <i class="iconfont icon-bin"></i>
            </div>
        </td>
    </tr>

    <tr class="item">
        <td class="item-product">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
        <td class="item-consignee" rowspan="3">
            <span>方先生</span><i class="iconfont icon-face"></i>
        </td>
        <td class="item-price" rowspan="3">
            <em>￥ 789.00</em>
            <div class="spacer"></div>
            <span>在线支付</span>
        </td>
        <td class="item-status" rowspan="3">
            <span>已付款</span>
        </td>
        <td class="item-btn" rowspan="3">
            <a href="">订单详情</a>
            <a href="" class="btn--txt">提醒买家发货</a>
        </td>
    </tr>
    <tr class="item">
        <td class="item-product">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
    </tr>
    <tr class="item">
        <td class="item-product">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
    </tr>
    </tbody>
    {{ /if }}
    <!--======================================================-->
    {{ if receive }}
    <tbody class="order__body">
    <tr class="b-row"></tr>

    <tr class="item__header">
        <td colspan="5">
            <div class="fl item-time">2019-02-12 14:23:29</div>
            <div class="fl item-code">订单号: <span>051312315</span></div>
            <div class="fr item-opt">
                <i class="iconfont icon-bin"></i>
            </div>
        </td>
    </tr>

    <tr class="item">
        <td class="item-product">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
        <td class="item-consignee" rowspan="3">
            <span>方先生</span><i class="iconfont icon-face"></i>
        </td>
        <td class="item-price" rowspan="3">
            <em>￥ 789.00</em>
            <div class="spacer"></div>
            <span>在线支付</span>
        </td>
        <td class="item-status" rowspan="3">
            <span>已付款</span>
        </td>
        <td class="item-btn" rowspan="3">
            <span>还剩9天7时</span>
            <a href="">订单详情</a>
            <a href="" class="btn btn--default">确认收货</a>
        </td>
    </tr>
    <tr class="item">
        <td class="item-product">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
    </tr>
    <tr class="item">
        <td class="item-product">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
    </tr>
    </tbody>
    {{ /if }}
    <!--======================================================-->
    {{ if saled }}
    <tbody class="order__body">
    <tr class="b-row"></tr>

    <tr class="item__header">
        <td colspan="5">
            <div class="fl item-time">2019-02-12 14:23:29</div>
            <div class="fl item-code">订单号: <span>051312315</span></div>
            <div class="fr item-opt">
                <i class="iconfont icon-bin"></i>
            </div>
        </td>
    </tr>

    <tr class="item">
        <td class="item-product">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
        <td class="item-consignee" rowspan="3">
            <span>方先生</span><i class="iconfont icon-face"></i>
        </td>
        <td class="item-price" rowspan="3">
            <em>￥ 789.00</em>
            <div class="spacer"></div>
            <span>在线支付</span>
        </td>
        <td class="item-status" rowspan="3">
            <span>商家处理中</span>
        </td>
        <td class="item-btn" rowspan="3">
            <a href="">订单详情</a>
        </td>
    </tr>
    </tbody>
    <tbody class="order__body">
    <tr class="b-row"></tr>

    <tr class="item__header">
        <td colspan="5">
            <div class="fl item-time">2019-02-12 14:23:29</div>
            <div class="fl item-code">订单号: <span>051312315</span></div>
            <div class="fr item-opt">
                <i class="iconfont icon-bin"></i>
            </div>
        </td>
    </tr>

    <tr class="item">
        <td class="item-product">
            <div class="img">
                <a href="https://dummyimage.com/62x62/000/fff">
                    <img src="https://dummyimage.com/62x62/000/fff" alt="" />
                </a>
            </div>
            <div class="desc">
                惠而信Welshine PP带密封圈标示盒储存盒 半透明带盖子分色管理6套装
                物流自提 30L-
            </div>
            <div class="unit">x1</div>
        </td>
        <td class="item-consignee" rowspan="3">
            <span>方先生</span><i class="iconfont icon-face"></i>
        </td>
        <td class="item-price" rowspan="3">
            <em>￥ 789.00</em>
            <div class="spacer"></div>
            <span>在线支付</span>
        </td>
        <td class="item-status" rowspan="3">
            <span>退款成功</span>
        </td>
        <td class="item-btn" rowspan="3">
            <a href="">订单详情</a>
        </td>
    </tr>
    </tbody>
    {{ /if }}
</table>
