@charset "UTF-8";
.ui-preview {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px; }
  .ui-preview:after {
    content: "Demo";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    border-radius: 4px 0 4px 0; }

.Mui-aside {
  float: left;
  width: 200px; }

.Mui-main {
  margin-left: 200px; }
  .Mui-main .inner {
    padding: 20px; }

#demo .info {
  padding: 0; }
  #demo .info ul li a {
    border: 1px solid #ededed;
    padding: 10px 15px 10px 42px;
    display: block;
    cursor: pointer;
    color: #4d4d4d;
    background: #4a90e2;
    background: #f5f5f5;
    position: relative;
    font-size: 14px; }

/**
 * @name: 折叠框
 * @author: 钦昇
 * @used：guide.html
 */
.fold .item {
  position: relative; }
  .fold .item h4 {
    margin: 0;
    font-weight: bold;
    position: relative;
    border-top: 1px solid #fff;
    font-size: 14px;
    line-height: 22px;
    background-color: #eee;
    cursor: pointer;
    padding: 7px 30px 7px 10px; }
    .fold .item h4 b {
      display: block;
      position: absolute;
      right: 10px;
      top: 7px;
      width: 16px;
      height: 16px;
      text-align: center;
      color: #666;
      cursor: pointer; }
  .fold .item .info {
    display: none; }

/* slick.js开始 */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: 0; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:after,
.slick-track:before {
  display: table;
  content: ""; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* slick.js结束 */
/*************************  theme.css开始 *********************************/
/* Slider */
.slick-loading .slick-list {
  background: #fff url("../assets/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  z-index: 99;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25; }

.slick-prev:before,
.slick-next:before {
  font-family: "iconfont";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #dddddd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0; }

[dir="rtl"] .slick-prev {
  right: 0;
  left: auto; }

.slick-prev:before {
  content: "\e61c"; }

[dir="rtl"] .slick-prev:before {
  content: "\e612"; }

.slick-next {
  right: 0; }

[dir="rtl"] .slick-next {
  right: auto;
  left: 0; }

.slick-next:before {
  content: "\e61b"; }

[dir="rtl"] .slick-next:before {
  content: "\e613"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: 20px;
  z-index: 99;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black; }

/*************************  theme.css结束 *********************************/
.dialog-confirm .dialog-submit {
  border: none;
  background-color: #6f55c0;
  color: #fff;
  text-align: center;
  text-decoration: none; }
  .dialog-confirm .dialog-submit:hover {
    text-decoration: none;
    background-color: #8032f5; }
  .dialog-confirm .disabled.dialog-submit, .dialog-confirm .disabled.dialog-submit:hover {
    border: 1px solid #ddd;
    color: #999;
    background-color: #f8f8f8;
    cursor: not-allowed; }

.dialog-confirm .dialog-cancel {
  border: 1px solid #ddd;
  color: #666;
  text-align: center;
  text-decoration: none; }
  .dialog-confirm .dialog-cancel:hover {
    color: #6f55c0;
    border-color: #6f55c0;
    text-decoration: none; }
  .dialog-confirm .disabled.dialog-cancel, .dialog-confirm .disabled.dialog-cancel:hover {
    border: 1px solid #ddd;
    color: #999;
    background-color: #f8f8f8;
    cursor: not-allowed; }

.dialog-bg {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 990;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000); }

.dialog-section {
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  padding: 0;
  margin: 0;
  background-color: #FFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }

.dialog-body,
.dialog-imagelist {
  background-color: #fff;
  box-sizing: content-box;
  z-index: 1;
  min-width: 516px;
  height: 100%;
  padding: 32px;
  padding-top: 48px;
  margin: 0;
  overflow: hidden; }
  .dialog-body.withNoPadding,
  .dialog-imagelist.withNoPadding {
    padding: 0; }
  .dialog-body.withNoMinWidth,
  .dialog-imagelist.withNoMinWidth {
    min-width: auto;
    min-width: 0; }

.dialog-body img {
  display: block;
  vertical-align: top; }

.dialog-btnPrev,
.dialog-btnNext {
  position: absolute; }

.dialog-btnPrev,
.dialog-btnNext {
  top: 50%;
  z-index: 9;
  margin-top: -18px;
  width: 36px;
  height: 36px;
  overflow: hidden;
  font: 16px/36px 'Simsun';
  text-align: center;
  color: #fff !important;
  cursor: pointer;
  background-color: #7F7F7F;
  background-color: rgba(0, 0, 0, 0.5); }

.dialog-btnPrev {
  left: 0; }

.dialog-btnNext {
  right: 0; }

.dialog-disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#44000000,endColorstr=#44000000); }

.dialog-header {
  position: relative;
  width: auto;
  height: 39px;
  padding: 0 46px 0 16px;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  font-size: 16px;
  line-height: 39px;
  white-space: nowrap;
  background-color: #e6e6e6; }
  .dialog-header + .dialog-body {
    padding-top: 32px; }
    .dialog-header + .dialog-body.withNoPadding {
      padding: 0; }

.dialog-close {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/icon/icons-dialog.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 16px;
  top: 12px;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  background-position: 0 -135px;
  cursor: pointer; }

#dialogTipBox .dialog-body {
  padding-top: 48px;
  padding-bottom: 48px; }

#dialogTipBox .dialog-msg {
  padding: 0;
  margin: 0;
  text-align: center; }

#dialogTipBox .dialog-msg-text {
  padding: 0;
  margin: 0;
  font-size: 16px; }

#dialogTipBox .i-success,
#dialogTipBox .i-warning,
#dialogTipBox .i-error {
  position: relative;
  display: inline-block;
  top: -2px;
  margin-right: 20px;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  background-image: url("../img/icon/icons-dialog.png");
  background-repeat: no-repeat; }

#dialogTipBox .i-success {
  background-position: 0 0; }

#dialogTipBox .i-warning {
  background-position: 0 -45px; }

#dialogTipBox .i-error {
  background-position: 0 -90px; }

.dialog-confirm {
  box-sizing: content-box;
  position: relative;
  width: 235px;
  min-width: 235px;
  font-size: 0;
  text-align: left;
  margin: 0 auto; }
  .dialog-confirm.withCenter {
    text-align: center; }
  .dialog-confirm.withIcon, .dialog-confirm.withIconSuccess, .dialog-confirm.withIconWarning, .dialog-confirm.withIconError {
    padding-left: 54px; }
    .dialog-confirm.withIcon:before, .dialog-confirm.withIconSuccess:before, .dialog-confirm.withIconWarning:before, .dialog-confirm.withIconError:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background-image: url("../img/icon/icons-dialog.png");
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 0;
      width: 36px;
      height: 36px;
      background-position: 0 -45px; }
  .dialog-confirm.withIconSuccess:before {
    background-position: 0 0; }
  .dialog-confirm.withIconWarning:before {
    background-position: 0 -45px; }
  .dialog-confirm.withIconError:before {
    background-position: 0 -90px; }
  .dialog-confirm .dialog-msg {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 32px; }
    .dialog-confirm .dialog-msg + .dialog-desc {
      margin-top: 10px; }
  .dialog-confirm .dialog-desc {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 20px; }
  .dialog-confirm .dialog-content {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
    text-align: left; }
    .dialog-confirm .dialog-content + .dialog-buttonBox {
      text-align: center; }
  .dialog-confirm .dialog-buttonBox {
    overflow: hidden;
    padding: 0;
    margin: 24px 0 0 0; }
    .dialog-confirm .dialog-buttonBox a {
      margin-left: 15px; }
    .dialog-confirm .dialog-buttonBox a:first-child {
      margin-left: 0; }
  .dialog-confirm .dialog-submit,
  .dialog-confirm .dialog-cancel {
    display: inline-block; }
  .dialog-confirm .dialog-submit {
    width: 98px;
    height: 29px;
    font-size: 12px;
    line-height: 29px; }
  .dialog-confirm .dialog-cancel {
    box-sizing: content-box;
    width: 96px;
    height: 27px;
    font-size: 12px;
    line-height: 27px; }

.dialog-success-top {
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 999;
  min-width: 400px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 16px;
  line-height: 46px;
  text-align: center;
  color: #fff;
  background-color: #4aac42; }
  .dialog-success-top .i-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 18px;
    margin-right: 15px;
    background: url("../img/icon/icons-dialog.png") no-repeat 0 -180px; }

.dialog-warning-top {
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 999;
  min-width: 400px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 16px;
  line-height: 46px;
  text-align: center;
  color: #fff;
  background-color: #ff4400; }

.table {
  width: 100%;
  empty-cells: show;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }
  .table th, .table td {
    padding: 8px;
    line-height: 20px;
    word-break: break-all; }
  .table th {
    font-weight: bold; }
  .table td {
    text-align: left; }

.input-txt {
  box-sizing: border-box;
  border: solid 1px #ddd;
  width: 100%;
  -webkit-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding: 4px 15px; }
  .input-txt.radius {
    border-radius: 4px;
    behavior: url(assets/PIE.htc); }
  .input-txt.round {
    border-radius: 20px;
    behavior: url(assets/PIE.htc); }

.checkbox {
  color: #606266;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .checkbox__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle; }
  .checkbox__inner {
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1; }
    .checkbox__inner:before {
      content: ""; }
    .checkbox__inner:hover {
      border-color: #CE3336; }
  .checkbox__original {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1; }
  .checkbox__label {
    display: inline-block;
    padding-left: 10px;
    line-height: 20px;
    font-size: 14px; }

.checkbox__input.is-checked .checkbox__inner {
  background-color: #CE3336;
  border-color: #CE3336; }
  .checkbox__input.is-checked .checkbox__inner:before {
    font-family: "iconfont" !important;
    content: "\e655";
    font-size: 12px;
    font-style: normal;
    color: #fff;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  line-height: 1;
  border: solid 1px #dcdfe6;
  background-color: #fff;
  color: #606266;
  -webkit-appearance: none;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear; }
  .btn.disable {
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #fff;
    border-color: #ebeef5; }
  .btn-link {
    border-color: transparent;
    color: #005abc;
    background: transparent;
    padding-left: 0;
    padding-right: 0; }
    .btn-link.disable {
      border-color: transparent; }
  .btn.round {
    border-radius: 20px;
    behavior: url(assets/PIE.htc); }
  .btn.radius {
    border-radius: 4px;
    behavior: url(assets/PIE.htc); }
  .btn.circle {
    border-radius: 50%;
    padding: 8px; }

.btn-primary {
  color: #fff;
  background-color: #005abc;
  border-color: #005abc; }
  .btn-primary.plain {
    background-color: #56a7ff;
    border-color: #005abc;
    color: #005abc; }
  .btn-primary.disable {
    color: #fff;
    background-color: #56a7ff;
    border-color: #56a7ff; }

.btn-secondary {
  color: #fff;
  background-color: #e60012;
  border-color: #e60012; }
  .btn-secondary.plain {
    background-color: #ff808a;
    border-color: #e60012;
    color: #e60012; }
  .btn-secondary.disable {
    color: #fff;
    background-color: #ff808a;
    border-color: #ff808a; }

.btn-success {
  color: #fff;
  background-color: #67c23a;
  border-color: #67c23a; }
  .btn-success.plain {
    background-color: #c1e7ae;
    border-color: #67c23a;
    color: #67c23a; }
  .btn-success.disable {
    color: #fff;
    background-color: #c1e7ae;
    border-color: #c1e7ae; }

.btn-warning {
  color: #fff;
  background-color: #ffaa00;
  border-color: #ffaa00; }
  .btn-warning.plain {
    background-color: #ffdd99;
    border-color: #ffaa00;
    color: #ffaa00; }
  .btn-warning.disable {
    color: #fff;
    background-color: #ffdd99;
    border-color: #ffdd99; }

.btn-danger {
  color: #fff;
  background-color: #d0021b;
  border-color: #d0021b; }
  .btn-danger.plain {
    background-color: #fe6d7f;
    border-color: #d0021b;
    color: #d0021b; }
  .btn-danger.disable {
    color: #fff;
    background-color: #fe6d7f;
    border-color: #fe6d7f; }

.btn-info {
  color: #fff;
  background-color: #909399;
  border-color: #909399; }
  .btn-info.plain {
    background-color: #e0e1e2;
    border-color: #909399;
    color: #909399; }
  .btn-info.disable {
    color: #fff;
    background-color: #e0e1e2;
    border-color: #e0e1e2; }

/******************************* 配色方案 **************************************/
/******************************* 按钮方案 **************************************/
/******************************* 字体方案 **************************************/
/**************************  文字颜色  **********************************/
.txt-red {
  color: #ff0014; }

.txt-blue {
  color: #0066cc; }

/**************************  背景颜色  **********************************/
.bg-default {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333; }

.bg-blue {
  background-color: #0066cc;
  border: 1px solid #0066cc;
  color: #fff; }

.bg-red {
  background-color: #ff0014;
  border: 1px solid #ff0014;
  color: #fff; }

.bg-info {
  background-color: #5c5c5c;
  border: 1px solid #5c5c5c;
  color: #fff; }

/******************************* 配色方案 **************************************/
/******************************* 按钮方案 **************************************/
/******************************* 字体方案 **************************************/
/************************ h1-h6 **************************************/
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 13px; }

h6 {
  font-size: 12px; }

p {
  font-size: 14px;
  line-height: 1.6; }

.tabBar {
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden; }
  .tabBar span {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: solid 2px #fff; }
    .tabBar span.current {
      border-bottom-color: #1890ff; }

.tabCon {
  display: none; }

.an {
  float: left;
  margin-left: 30px; }
  .an > ul > li.active .dropdown-content {
    display: block; }
  .an > ul > li > a {
    display: inline-block;
    font-size: 18px;
    width: 90px;
    padding: 10px; }

.dropdown {
  position: relative;
  z-index: 999; }
  .dropdown-label {
    font-size: 16px; }
    .dropdown-label:after {
      font-family: "iconfont" !important;
      font-size: 16px;
      font-style: normal;
      content: "\e61a"; }
  .dropdown-content {
    display: none;
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -55px; }
    .dropdown-content ul {
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 0 2px #ccc; }
      .dropdown-content ul:before {
        display: inline-block;
        position: absolute;
        top: -4px;
        left: 50%;
        margin-left: -6px;
        width: 10px;
        height: 10px;
        content: '';
        border-style: solid;
        border-width: 2px;
        border-color: #fff #fff transparent transparent;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        box-shadow: 2px -2px 2px #ccc;
        background: #fff; }
      .dropdown-content ul li {
        width: 70px; }
        .dropdown-content ul li a {
          font-size: 16px;
          line-height: 30px; }

.marquee {
  height: 22px;
  overflow: hidden;
  line-height: 22px; }

.treeview, .treeview ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.treeview ul {
  background-color: white;
  margin-top: 4px; }

.treeview .hitarea {
  background: url(images/treeview-default.gif) -64px -25px no-repeat;
  height: 16px;
  width: 16px;
  margin-left: -16px;
  float: left;
  cursor: pointer; }

/* fix for IE6 */
* html .hitarea {
  display: inline;
  float: none; }

.treeview li {
  margin: 0;
  padding: 3px 0pt 3px 16px; }

.treeview a.selected {
  background-color: #eee; }

#treecontrol {
  margin: 1em 0;
  display: none; }

.treeview .hover {
  color: red;
  cursor: pointer; }

.treeview li {
  background: url(images/treeview-default-line.gif) 0 0 no-repeat; }

.treeview li.collapsable, .treeview li.expandable {
  background-position: 0 -176px; }

.treeview .expandable-hitarea {
  background-position: -80px -3px; }

.treeview li.last {
  background-position: 0 -1766px; }

.treeview li.lastCollapsable, .treeview li.lastExpandable {
  background-image: url(images/treeview-default.gif); }

.treeview li.lastCollapsable {
  background-position: 0 -111px; }

.treeview li.lastExpandable {
  background-position: -32px -67px; }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {
  background-position: 0; }

.treeview-red li {
  background-image: url(images/treeview-red-line.gif); }

.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable {
  background-image: url(images/treeview-red.gif); }

.treeview-black li {
  background-image: url(images/treeview-black-line.gif); }

.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable {
  background-image: url(images/treeview-black.gif); }

.treeview-gray li {
  background-image: url(images/treeview-gray-line.gif); }

.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable {
  background-image: url(images/treeview-gray.gif); }

.treeview-famfamfam li {
  background-image: url(images/treeview-famfamfam-line.gif); }

.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable {
  background-image: url(images/treeview-famfamfam.gif); }

.treeview .placeholder {
  background: url(images/ajax-loader.gif) 0 0 no-repeat;
  height: 16px;
  width: 16px;
  display: block; }

.filetree li {
  padding: 3px 0 2px 16px; }

.filetree span.folder, .filetree span.file {
  padding: 1px 0 1px 16px;
  display: block; }

.filetree span.folder {
  background: url(images/folder.gif) 0 0 no-repeat; }

.filetree li.expandable span.folder {
  background: url(images/folder-closed.gif) 0 0 no-repeat; }

.filetree span.file {
  background: url(images/file.gif) 0 0 no-repeat; }

.plussub {
  position: relative;
  width: 60px;
  height: 44px;
  overflow: hidden;
  border: 1px solid #ccc; }
  .plussub .sub {
    top: -1px; }
  .plussub .plus {
    bottom: -1px; }
  .plussub input {
    display: block;
    position: absolute;
    left: 1px;
    width: 41px;
    height: 44px;
    line-height: 44px;
    text-align: center; }
  .plussub span {
    position: absolute;
    right: -1px;
    display: block;
    width: 17px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    background: #f1f1f1;
    color: #666;
    border: 1px solid #ccc;
    cursor: pointer; }
    .plussub span.disabled {
      cursor: not-allowed;
      color: #ccc; }

.filter-disabled {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.filter-box {
  position: relative; }

.filter-box select {
  display: none; }

.filter-text {
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding: 0 30px 0 10px;
  background: #fff;
  border: 1px solid #e6e6e6; }

.filter-text input {
  font-size: 14px; }

.filter-text .filter-title {
  width: 100%;
  height: 36px;
  line-height: 36px;
  border: 0;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  cursor: pointer; }

.filter-list {
  display: none;
  width: 100%;
  max-height: 300px;
  background-color: #fff;
  font-size: 14px;
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 99;
  border: 1px solid #e6e6e6;
  overflow: auto; }

.filter-list li.filter-null a {
  color: #d2d2d2; }

.filter-list li a {
  display: block;
  padding: 0 10px;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer; }

.filter-list li:hover {
  background-color: #f2f2f2; }

.filter-list li.filter-selected {
  background-color: #4a90e2; }

.filter-list li.filter-selected a {
  display: block;
  color: #fff; }

.filter-list li.filter-disabled {
  background-color: #fff; }

.filter-list li.filter-disabled a {
  display: block;
  color: #d2d2d2; }

.filter-list li.filter-disabled:hover a {
  cursor: not-allowed !important;
  background-color: #fff; }

.icon-arrow-down {
  position: absolute;
  right: 10px;
  top: 8px;
  -webkit-transition: all .2s;
  transition: all .2s; }

.icon-arrow-down.filter-show {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }

.filter-list::-webkit-scrollbar {
  width: 4px;
  height: 4px; }

.filter-list::-webkit-scrollbar-track {
  background: #fff; }

.filter-list::-webkit-scrollbar-thumb {
  background: #CBCBCB; }
