<div class="filter-box">
    <div class="filter-text">
        <input class="filter-title" type="text" readonly placeholder="请选择" title="" />
        <i class="iconfont icon-arrow-down"></i>
    </div>
    <select name="filter" id="" title="">
        <option value="黑龙江" disabled>黑龙江</option>
        <option value="黑龙江">黑龙江</option>
        <option value="黑龙江">黑龙江</option>
        <option value="黑龙江" selected>黑龙江</option>
        <option value="黑龙江">黑龙江</option>
        <option value="黑龙江">黑龙江</option>
        <option value="黑龙江">黑龙江</option>
        <option value="黑龙江">黑龙江</option>
        <option value="黑龙江">黑龙江</option>
        <option value="黑龙江">黑龙江</option>
        <option value="黑龙江">黑龙江</option>
        <option value="黑龙江">黑龙江</option>
        <option value="黑龙江">黑龙江</option>
    </select>
</div>
