.article-contact {
  padding: 20px 0;
}
.article-contact li {
  padding: 20px;
  border: 1px solid #e3e3e3;
  float: left;
  margin: 10px 0 10px 20px;
  background: #fff;
  width: 405px;
  list-style: none;
}
.article-contact .c-name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}
.article-contact .c-address {
  line-height: 1.6;
}
.article-contact .c-tel {
  line-height: 1.6;
}