<!-- input['text']和textarea -->
<div class="ui-preview">
    <table>
        <thead>
            <tr>
                <th>默认效果</th>
                <th>class=""</th>
                <th>默认效果</th>
                <th>class=""</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label>
                        <input type="text" class="input-txt" placeholder="文本">
                    </label>
                </td>
                <td>
                    <code>input-txt</code>
                </td>
                <td>
                    <label>
                        <input type="password" class="input-txt"  placeholder="密码">
                    </label>
                </td>
                <td>
                    <code>input-txt</code>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="text" class="input-txt radius"  placeholder="文本">
                    </label>
                </td>
                <td>
                    <code>input-txt radius</code>
                </td>
                <td>
                    <label>
                        <input type="password" class="input-txt round"  placeholder="文本">
                    </label>
                </td>
                <td>
                    <code>input-txt round</code>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">
                        <textarea name="" class="textarea" cols="" rows=""></textarea>
                    </label>
                </td>
                <td>
                    <code>textarea</code>
                </td>
                <td>
                    <label for="">
                        <textarea name="" class="textarea radius" cols="" rows=""></textarea>
                    </label>
                </td>
                <td>
                    <code>textarea radius</code>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- input的checkbox -->
<div class="ui-preview">
    <table>
        <thead>
        <tr>
            <th>默认效果</th>
            <th>class=""</th>
            <th>默认效果</th>
            <th>class=""</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label class="checkbox">
                    <span class="checkbox__input is-checked">
                        <span class="checkbox__inner"></span>
                         <input  class="checkbox__original" type="checkbox" aria-hidden="false">
                    </span>
                    <span class="checkbox__label">选中</span>
                </label>
            </td>
            <td>
                <code>check-box</code>
            </td>
            <td>
                <label class="checkbox">
                    <span class="checkbox__input">
                        <span class="checkbox__inner"></span>
                         <input class="checkbox__original" type="checkbox" aria-hidden="false">
                    </span>
                    <span class="checkbox__label">选中</span>
                </label>
            </td>
            <td>
                <code>input-txt</code>
            </td>
        </tr>
        </tbody>
    </table>
</div>
