<div class="item dropdown g-hover">
    <a href="" class="dropdown-title">更多</a>
    <div class="dropdown-content">
        <ul>
            <li class="item"><a href="">餐盖</a></li>
            <li class="item"><a href="">周转箱</a></li>
            <li class="item"><a href="">筛</a></li>
            <li class="item"><a href="">杯筐</a></li>
            <li class="item"><a href="">服务车</a></li>
            <li class="item"><a href="">展示架</a></li>
            <li class="item"><a href="">打包盒</a></li>
        </ul>
    </div>
</div>


<nav class="an">
    <ul>
        <li class="g-hover">
            <a href="index.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">首页</a>
        </li>
        <li  class="g-hover">
            <a href="#0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">账户设置</a>
            <ul class="dropDown-menu menu radius box-shadow">
                <li><a href="#">菜单一</a></li>
                <li><a href="#">菜单二</a></li>
            </ul>
        </li>
        <li class="dropdown g-hover">
            <a href="#0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">消息中心</a>
            <ul class="dropdown-content">
                <li><a href="#">菜单一</a></li>
                <li><a href="#">菜单二</a></li>
            </ul>
        </li>
    </ul>
</nav>
