<!--实心-->
<h2>实心</h2>
<div class="ui-preview">
    <table>
        <thead>
        <tr>
            <th>按钮</th>
            <th>class=""</th>
            <th>描述</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label>
                    <button type="button" class="btn bg-default">默认</button>
                </label>
            </td>
            <td>
                <code>btn bg-default</code>
            </td>
            <td>默认</td>
        </tr>
        <tr>
            <td>
                <label>
                    <button type="button" class="btn bg-white">白色</button>
                </label>
            </td>
            <td>
                <code>btn bg-white</code>
            </td>
            <td>白色</td>
        </tr>
        <tr>
            <td>
                <label>
                    <button type="button" class="btn bg-blue">蓝色</button>
                </label>
            </td>
            <td>
                <code>btn btn-secondary radius</code>
            </td>
            <td>辅色调按钮</td>
        </tr>
        </tbody>
    </table>
</div>