/******************************* 配色方案 **************************************/
//默认主色调蓝色
$primary-color: #0066cc;
$primary-color--hover: #034cb0;
$primary-color--active: #00439f;
//辅色调红
$secondary-color: #ff0014;
$secondary-color--hover: #e00005;
$secondary-color--active: #c20004;
//警告色橙
$warning-color: #ffaa24;
$warning-color--hover: #ff9000;
$warning-color--active: #e17f00;
//警告色橙
$warning-color: #ffaa24;
$warning-color--hover: #ff9000;
$warning-color--active: #e17f00;
//信息灰色
$info-color: #5c5c5c;
$info-color--hover: #ff9000;
$info-color--active: #e17f00;
//字体颜色
$primary-txt: #333;
$regular-txt: #666;
$secondary-txt: #999;
$placeholder-txt: #ccc;
//背景
$bg-black: #000;
$bg-white: #fff;
$bg: transparent;


/******************************* 按钮方案 **************************************/


/******************************* 字体方案 **************************************/
$font-size--larger: 24px;
$font-size--large: 20px;
$font-size--medium: 16px;
$font-size--base: 14px;
$font-size--small: 13px;
$font-size--mini: 12px;


