.tabBar {
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
  span {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: solid 2px #fff;
    &.current {
      border-bottom-color: #1890ff;
    }
  }
}
.tabCon {
  display: none;
}