/*****************************  payment ********************************/
.payment {
  box-shadow: 0 1px 8px 0 #c9c9c9;
  .txt {
    &-l {
      float: left;
    }
    &-r {
      float: right;
    }
  }
  .card {
    position: relative;
    padding: 60px 0;
  }
  .title {
    position: absolute;
    top: 30px;
    left: 0;
    background: #d0021b;
    width: 128px;
    line-height: 44px;
    height: 44px;
    font-size: 22px;
    color: #fff;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-left: 20px;
  }
  .options {
    margin-top: 30px;
    ul li {
      border-top: 1px solid #e6e6e6;
      padding: 20px 60px;
      &:first-child {
        border-top: none;
      }

      .img {
        display: inline-block;
        width: 180px;
        margin-left: 16px;
      }
      .note {
        display: inline-block;
        color: #d0021b;
      }
    }
  }

  .operate {
    margin-left: 90px;
    margin-bottom: 30px;
    .btn {
      width: 140px;
      text-align: center;
      font-size: 14px;
      padding-left: 0;
      padding-right: 0;
      margin-right: 10px;
      color: #4a90e2;
    }
  }
  .btn-submit {
    margin-left: 120px;
    font-size: 15px;
    padding: 14px 80px;
  }
}